<head>
  <meta charset="utf-8">
  <title>ResearchConnector</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
  /* Only necessary if you are using navbar-fixed-top */
  body {
    padding-top: 60px;
  }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />


  <!-- Added by HM -->
  <style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;border:none;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
  .tg .tg-yw4l{vertical-align:top}
  @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
  <!-- Added by HM END-->
</head>


<div class="page-header">
  <h1>
    Home
  </h1>
</div>

<body>
  <div class="tg-wrap"><table class="tg">
    <tr>
      <th class="tg-yw4l"></th>
      <th class="tg-yw4l">Vision</th>
      <th class="tg-yw4l"></th>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">To bring together great minds of African descent to create, build, nurture and develop people,minds and hearts of all races including those in Africa through collaborative research and, sharing ofresearch related information (e.g. grants, job opportunities).</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <th class="tg-yw4l"></th>
      <th class="tg-yw4l">Mission</th>
      <th class="tg-yw4l"></th>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">To bring together African professionals residing in Africa and the diaspora together, to foster research (projects, programs, interventions etc.) globally including research on the African continent.</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">Regardless of your career field, AfRINet has three main goals:</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">1. To create a platform for brainstorming and scholarly exchange of research interests, peer feedback from others within and outside ones field.</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">2. To create and foster interdisciplinary partnerships on grants, projects and papers related to issues that will enhance development globally, as well as on the African continent.</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">3. To disseminate information including job opportunities, funding opportunities, call for papers to other African researchers.</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">About - Origins</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">If you think you are too small to make a difference, you haven’t spent a night with a mosquito</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">                                                                                                                               – African Proverb</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l">An examination of up to date research in all fields show a paucity of current studies, if any, from the African continent except when it is related to poverty, aid and related issues. Africa, the 2nd largest continent in the world by land mass, has many of her children who are well trained in diverse fields. They are making impact and serving all across the world including in countries on the African continent. AfRINet, an African researcher’s network seeks to bring together as many of these great minds to share ideas, partner on research and professionally network. The goal is promote multi-sectorial research, partnerships as well as solve issues. The bottom line for our collaborations is the promotion of health (holistic) and wealth of all people (including yourself) not only in our countries of residence, but across other countries including those on the African continent.</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
      <td class="tg-yw4l"></td>
    </tr>
  </table></div>
</body>
